.images {
            text-align: center;
            margin-top: 10vh;
        }

        a img {
            height: 200px;
            margin: 10px;
            transition: all 0.5s;
        }

        .lightbox {
            text-align: center;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0%;
            left: 0%;
            opacity: 0;
            pointer-events: none;
        }

        .lightbox img {
            height: 70vh;

        }

        .lightbox:target {
            opacity: 1;
            pointer-events: auto;
        }

        .lightbox a {
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100vh;
            width: 100vw;
        }

        a img:hover{
            transform: scale(1.1);
            box-shadow: 10px 10px 10px grey;
        }